doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    h1 Update Custom Object
    a(href="/") Return to the homepage

form(action="/update-cobj", method="POST")
  div
    label(for="name") Name
    input(type="text", name="name", id="name", required=true)
  div
    label(for="device") Device  
    input(type="text", name="device", id="device")
  div
    lavel(for="value") Value
    input(type="number", name="value", id="value")
  button(type="submit") Create record

